div.mainframe {
    border: none;
    max-width: 1200px;
    height: auto;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    max-width: 1198px;
    min-width: 440px;
    height: 70px;
    border: none;
    text-align: right;
}

div.headerimg {
    margin-top: 10px;
    margin-left: 15px;
    border: none;
    float: left;
    width: 400px;
}

footer {
    font-size: small;
    clear: left;
    max-width: 1198px;
    min-width: 440px;
    height: 50px;
    border: none;
}

p.footer {
    padding-left: 1%;
}

section.login {
    float: left;
    text-align: center;
    width: 1198px;
    border: none;
    padding-top: 2%;
}

h1.login {
    padding-top: 2%;
}

form.login {
    padding-bottom: 5%;
}

input.login[type=text] {
    width: 250px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

input.login[type=password] {
    width: 250px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

input.login[type=submit] {
    width: 250px;
    background-color: #CCCCCC;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    padding: 6px 95px;
    text-decoration: none;
    margin: 7px 2px;
    cursor: pointer;
}

span.login {
    color: black;
    font-size: small;
}

a.login {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section.login table {
    position: relative;
    left: 200px;
    border: none;
    text-align: center;
    width: 700px;
    margin: auto;
}

section.login tr {
    border: none;
    width: auto;
}

section.login td.left {
    text-align: center;
    border: none;
    width: 40%;
}

section.login td.right {
    color: red;
    text-align: left;
    border: none;
    width: 50%;
}

section.create {
    float: left;
    text-align: center;
    width: 1198px;
    border: none;
    padding-top: 2%;
}

h1.create {
    padding-top: 2%;
}

section.create table {
    border: none;
    text-align: center;
    width: 900px;
    margin: auto;
}

section.create tr {
    border: none;
    width: auto;
}

section.create td.left {
    text-align: right;
    border: none;
    width: 25%;
}

section.create td.right {
    color: red;
    text-align: left;
    border: none;
    width: 75%;
}

form.create {
    padding-bottom: 5%;
    color: black;
}

input.create[type=text], input.create[type=email], input.create[type=password] {
    width: 350px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

span.pic {
    color: #AAAAAA;
    font-size: small;
    width: 100%;
    border: 2px solid gray;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;

}

input.create[type=file] {
    width: 336px;
    border: none;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

input.create[type=submit] {
    background-color: #CCCCCC;
    width: 350px;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    padding: 8px 1px;
    text-decoration: none;
    margin: 8px 0px 8px;
    cursor: pointer;
}

span.create {
    color: red;
    font-size: small;
    border: none;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

img.create:hover {
    cursor: pointer;
}

span.alert {
    color: red;
    font-size: smaller;
}

nav.page {
    position: relative;
    top: 10px;
    left: 20px;
    border: none;
    background-color: #EEEEEE;
    width: 120px;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    background-color: #EEEEEE;
}

nav li a {
    font-weight: bold;
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #DDDDDD;
    color: #000;
}

section.center {
    position: relative;
    top: -200px;
    left: 152px;
    max-width: 850px;
    border: none;
    background-color: white;
    overflow: auto;
}

hr {
    align: center;
    width: 90%;
}

section.page {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #EEEEEE;
}

h1.page {
    text-align: left;
    padding-left: 40px;
}

section.page figure {
    float: left;
    width: 250px;
    margin-top: 0px;
    border: none;
}

section.page table {
    width: 480px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

section.page td.left {
    width: 150px;
}

section.message {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    border: none;
    overflow: auto;
    background-color: #EEEEEE;
}

h3.message {
    text-align: center;
}

article.message {
    padding-bottom: 20px;
    border: none;
}

figure.message {
    float: left;
    border: none;
}

div.message {
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 300px;
    min-width: 100px;
    border: none;
}

/* -----------  Update section -------------- */

section.update {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    background-color: #EEEEEE;
}

section.update table {
    border: none;
    text-align: center;
    width: 800px;
    margin: auto;
}

section.update tr {
    border: none;
    width: auto;
}

section.update td.left {
    text-align: right;
    border: none;
    width: 150px;
}

section.update td.right {
    color: red;
    text-align: left;
    border: none;
    width: 650px;
}

form.update {
    padding-bottom: 5%;
    color: black;
}

input.update[type=text], input.update[type=email], input.update[type=password] {
    width: 260px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

span.pic {
    color: #AAAAAA;
    font-size: small;
    width: 100%;
    border: 2px solid gray;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;

}

input.update[type=file] {
    width: 247px;
    border: none;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

input.update[type=submit] {
    background-color: #CCCCCC;
    width: 259px;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    padding: 8px 1px;
    text-decoration: none;
    margin: 8px 0px 8px;
    cursor: pointer;
}

span.update {
    color: red;
    font-size: small;
    border: none;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

img.update:hover {
    cursor: pointer;
}