section.page {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: #FFF;
}

h2.page {
    text-align: left;
    padding: 0px 20px 15px;
}

section.page figure {
    display: inline;
    float: left;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: none;
}


section.message {
    overflow: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: #FFF;
}

h2.message {
    text-align: left;
    padding: 0px 20px 15px;
}



article.message {
    overflow: auto;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: #FFF;
    clear: left;
    padding-bottom: 20px;
}

h3.message {
    text-align: center;
}

figure.message {
    padding: 0px 20px;
    float: left;
    border: none;
}

div.message {
    display: inline;
    border: none;
}

section.friendlist {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: #FFF;
}

h4.friendlist {
    text-align: center;
    padding-bottom: 10px;
}

p.friendlist {
    padding-left: 15px;
}

a.friendlist {
    color: black;
    text-decoration: none;
}


footer {
    display: block;
    margin-top: 40px;
    font-size: small;
    clear: left;
    height: 50px;
    border: none;
}

h3.login {
    padding: 20px;
}

a.login {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

span.alert {
    color: red;
}


img.create:hover {
    cursor: pointer;
}

img.update:hover {
    cursor: pointer;
}

img.edit:hover {
    cursor: pointer;
}

figure.edit {
    width: 170px;
    height: 170px;
    padding: 10px 70px;
    border: none;
}


img.mycarousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

h4.friends {
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color:black !important;
}

.variable-width {
    margin-left: 30px; !important;
    margin-right: 30px; !important;
}

a.friendsonline {
    color: black;
    text-decoration: none;
    font-size: small;
}